<%-include('../../views/partials/user/profilePartials/header.ejs')%>
        <main class="content">
            <div class="profile-card">
                <h2 class="profile-header"><%=name%></h2>

                <%if(locals.isGoogle){%>
                <div class="profile-info">
                    <div class="info-item">
                        <span class="info-label">User name</span>
                        <span class="info-value"><%=name%></span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Email</span>
                        <span class="info-value"><%=email%></span>
                        <%}else{%>
                        
                <div class="profile-info">
                    <div class="info-item">
                        <span class="info-label">User name</span>
                        <span class="info-value"><%=name%></span>
                    </div>
                    <div class="info-item">
                        <span class="info-label">Email</span>
                        <span class="info-value"><%=email%></span>
                        
                    </div>
                    <div class="info-item">
                        <span class="info-label">Mobile Number</span>
                        <span class="info-value"><%=phone%></span>
                        <%}%>
                       
                    </div>
                    <a href="/edit-userProfile" style="text-decoration: none; color: white;"> <button class="edit-btn">Edit</button></a>
                </div>
            </div>
        </main>
    </div>
</body>
</html>